.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #fff;
    background-image: url(../../../image/bg-edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity 0.6s;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
      width: 18px;
      height: 18px;
      background-size: 7.5px;
    }
}