.element__like_active {
    width: 22px;
    height: 19px;
    background-image: url(../../../../image/like_active.svg);
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    background-position: center;
}

.element__like:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
}