.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 0;
    margin: 0 auto;
    max-width: 880px;
}

@media screen and (max-width: 1024px) {
    .profile {
      padding: 0 19px;
    }
  }

@media screen and (max-width: 768px) {
    .profile {
      display: flex;
      flex-direction: column;
      padding-top: 42px;
      padding-bottom: 36px;
    }
  }