.element__delete-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../image/delete.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 19px;
    border: 0;
    display: block;
    cursor: pointer;
    transition: opacity .4s ease-in;
}