.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 10px;
  outline-color: transparent; 
}

/* .popup__input:last-of-type {
  margin: 30px 0 48px;
}

@media screen and (max-width: 768px) {
  .popup__input:last-of-type {
    margin: 30px 0 45px;
  }
} */