.popup__title {
  margin: 0;
  color: #000;
  font-size: 24px;
  line-height: calc(29 / 24);
  font-weight: 900;
  padding-bottom: 46px;
}

@media screen and (max-width: 768px) {
  .popup__title {
    font-size: 18px;
    padding-bottom: 75px;
    line-height: calc(22 / 18);
  }
}