.elements__group {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    column-gap: 17px;
    row-gap: 20px;
    max-width: 100%;
    justify-items: flex-start;
    margin: 0;
    padding: 0;
    align-content: center;
}